# <font color='#0000A0'>Assignment-1</font>

## <font color='#0000A0'>Task 1</font>

### <font color='#0000A0'>1. Install Jupyter notebook and run the first program and share the screenshot of the output.</font>

In [2]:
print('Welcome To ML using Python')

Welcome To ML using Python

### <font color='#0000A0'>2. Write a program which will find all such numbers which are divisible by 7 but are not a multipleof 5, between 2000 and 3200 (both included). The numbers obtained should be printed in acomma-separated sequence on a single line.</font>

In [1]:
number_list = []
for number in range(2000, 3201):
    if number % 7 == 0 and number % 5 != 0:
        number_list.append(number)
print(number_list)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

### <font color='#0000A0'>3. Write a Python program to accept the user's first and last name and then getting them printed inthe the reverse order with a space between first name and last name</font>

In [3]:
first_name = input('Enter First Name: ')
last_name = input('Enter Last Name: ')

name = '{} {}'.format(first_name, last_name)
name[::-1]

Enter First Name: Vijayakumar
Enter Last Name: Chinnaiyan

'nayiannihC ramukayajiV'

### <font color='#0000A0'>4. Write a Python program to find the volume of a sphere with diameter 12 cm</font>

In [4]:
diameter = 12
π = 3.14
volume = (4/3) *  π * (diameter**3)
print('Volume of sphere with diameter of 12 cm is ', volume)

Volume of sphere with diameter of 12 cm is  7234.5599999999995

## <font color='#0000A0'>Task 2</font>

### <font color='#0000A0'>1. Write a program which accepts a sequence of comma-separated numbers from console andgenerate a list</font>

In [5]:
numbers = input('Enter list of numbers seperated by comma: ')
#numbers_lst = numbers.split(',')
numbers = [int(number) for number in numbers.split(',') if number.isnumeric()]
print(numbers)

Enter list of numbers seperated by comma: 30,34,vijay,45,67,34,89
[30, 34, 45, 67, 34, 89]

### <font color='#0000A0'>2. Create the below pattern using nested for loop in Python.</font>

In [7]:
character = '*'

list_with_inner_list = list()
list_with_inner_list.append(list(range(1, 6)))
list_with_inner_list.append(list(range(4, 0, -1)))

for inner_list in list_with_inner_list:
    for list_item in inner_list:
        print( character * list_item)

*
**
***
****
*****
****
***
**
*

### <font color='#0000A0'>3. Write a Python program to reverse a word after accepting the input from the user.</font>

In [0]:
word = input('Input Word: ')
print('Output: ', word[::-1])

Input Word: Vijayakumar
Output:  ramukayajiV

### <font color='#0000A0'>4. Write a Python Program to print the given string in the format specified in the ​sample output</font>

In [0]:
sentence = 'WE, THE PEOPLE OF INDIA, \n\thaving solemnly resolved to constitute India into a SOVEREIGN !, \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\t and to secure to allits citizens'
print(sentence)

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN !,
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to allits citizens